version: '3.8'

services:
  cs-server:
    image: johnsummit2024/cs-server:2025_11_29_13_42
    ports:
      - "8080:8080"
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - cs-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - cs-network

networks:
  cs-network:
    name: cs-network
    driver: bridge
